<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERT LOGIN</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="wrapper">
      <form id="login" class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Email Address"
          autofocus=""
        />
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
        <label class="checkbox">
          <input
            type="checkbox"
            value="remember-me"
            id="rememberMe"
            name="rememberMe"
          />
          Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" href="index">
          Login
        </button>
      </form>
    </div>
  </body>
</html>
